

body {
    margin:0;
    letter-spacing: 0.5;
}
.purplearea {
    width: 100%;
    height: 800px;
    background-color: blueviolet;
    display: inline-block;
   
}

header {
    text-align: center;
    color: white;
    font-family: "Scope One", serif;
    height: 200px;
    width:75%;
    margin: 200px auto;
    max-width: 900px;
}
header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 0 5%;
    
    

}

header h1 {
    
    
    font-size:60px;
    display:grid;
    place-items: center;
}

#container {
    max-width: 900px;
    background-color: white;
    margin:0 auto;
    padding-top:100px;
    font-family:"Rokkitt",serif;
    font-weight:500;
}

#container .timeline {
    margin:0 35%; 
    
}
#container .timespan {
    color:rgb(255, 128, 0);
    
}

#container .main {
    font-weight: 400;
    font-size: 40px;
} 

#container .intro {
    text-transform: uppercase;
    font-family: "Scope One", serif;
    font-weight: 800;
    font-size:15px;
}

#container .tointro {
    font-style: normal;
    font-weight: 100;
    color: orange;
    display: inline;
}

.sideorange {
    font-family:"Source Serif 4",serif;
    font-size: 13px;
    border-left: 2px solid orange;
    margin: 0 30px;
    padding: 0 30px;
    font-weight: 400;
    font-style: italic;
}

.wise {
    font-weight: 700;
    display: block;
}

h2 {
    font-size: 40px;
    font-weight: 400;
}
h3 {
    font-size: 30px;
}

span:not(.first,.wise) {
    display: inline;
    color: orange;
}
footer{
    
    background-color: blueviolet;
    width: 100%;
    padding: 20px 0;
    margin-top: 50px;
}
ul {
    
    max-width: 900px;
    list-style: none;
    display: flex;
    place-items: center;
    margin: 0 30%;
}
li a {
    
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
   
    
}

li a:hover {
    text-decoration: underline;
    text-decoration-color:white ;
}

.p1 {
    font-size:18px ;
}

h4,h5,h6 {
    font-size: larger;
}